---
import slidesSvg from '../assets/slides.svg';
import videoSvg from '../assets/youtube.svg';

interface Props {
  title: string;
  slides: string;
  video?: string;
  description: string;
}
const { title, slides, video, description } = Astro.props;
---

<article class="grid grid-cols-4 lg:grid-cols-7align-middle space-x-4 m-2 border-l-2 px-2 py-2 border-gray-400 hover:border-gray-800 hover:bg-gray-800 hover:rounded-md">
  <p class="flex font-extrabold col-span-3 items-center">
    <span class="align-middle">{title}</span>
  </p>
  <p class="flex items-center justify-end flex-row space-x-4">
    <a href={slides} target="_blank">
      <img class="h-8 hover:scale-125" src={slidesSvg.src} />
    </a>
    {video && (
      <a href={video} target="_blank">
      <img class="h-8 hover:scale-125" src={videoSvg.src} />
      </a>
    )}
  </p>
  <p class="flex col-span-4 items-center pt-2 lg:pt-0">
    {description}
  </p>
</article>
